{% extends 'base.html' %}
{% load static %}
{% block product_list %}

<link href="{% static 'css/product_list.css' %}" rel="stylesheet">

<div class="products-card">

    {% for product in object_list %}
        <div class="card" style="text-align:center">
            <h2 class="active">{{ product.title }}</h2>
            <p class="card-text">Short Description: {{ product.description }}</p>
            <img src="{{ MEDIA_URL }}{{ product.image }}" class="center" width="180" height="180" alt="{{ product.description }}">
            <a href="{% url 'products:product_list' %}" class="btn">Bid Now</a>
        </div>
    {% endfor %}

</div>

{% endblock %}