{% extends 'base.html' %}
{% load static %}
{% block signup %}

<link href="{% static 'css/signup.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>


<div class='signup'>
    
    <h2 class="active"> sign up </h2>
        <form method="post">
            {% csrf_token %}

                {{ form.as_p }}

            <button class="register" type="submit" value="Submit">
                Register
            </button>
        </form>
</div>

{% endblock %}